<!DOCTYPE html>
<html ng-app="demo">

<head>
   <title>Angular Directives</title>
   <link rel="stylesheet" href="styles.css">
</head>

<body ng-controller="demoCtrl">
   <h1>Pokemon List</h1>
   <p>
      <input type="text" ng-model="id">
      <button ng-click="buttonClick()">Get Pokemon</button>
      <br/><br/>
      {{error}}
      {{pokemon}}
   </p>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
   <script src="app.js"></script>
</body>

</html>
