body{
  margin: 0px;
  padding: 0px;
}

#cage{
  width: 900px;
  height: 500px;
  border: 5px solid #000000;
  margin: 0 auto;
  top: 20px;
  position: relative;

}

#block{
  position: absolute;
  background-color: #0066FF;
  display: block;
  z-index: 15;
  color: #FFFFFF;
  text-align: center;
  border-radius: 50px;
  data-type: player;
}

#end{
  position: absolute;
  background-color: #FFFF00;
  display: block;
  z-index: 10;
  color: #000000;
  text-align: center;
}

.square{
  width: 50px;
  height: 50px;
}

.go{
  position: relative;
  background-color: #00FF00;
  display:block;
  z-index: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.wall{
  background-color: #383838;
  z-index: 10;
  position: absolute;
  color: #FFFFFF;
  text-align: center;
  data-type: wall;
}

.danger{
  background-color: #FF0000;
  z-index: 16;
  position: absolute;
  data-type: danger;
}

.portal{
  background-color: #FF00FF;
  z-index:10;
  position: absolute;
  color: #FFFFFF;
  data-type: portal;
}

.empty{
  position: absolute;
  background-color: #E0E0E0;
  data-type: empty;
}

#rules{
  width: 550px;
  height: 200px;
  float: left;
}

#info {
  width: 300px;
  height: 200px;
  float: right;
  margin-top: 20px;
}

#mainContain {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 950px;
  height: 200px;
  margin-top: 25px;
}

h3 {
  margin-bottom: 0px;
}

p {
  line-height: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}
